<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/cache
          http://www.springframework.org/schema/cache/spring-cache.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
">
<!--自动扫描-->
  <context:component-scan base-package="com.my.ssm"/>
   <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
    <import resource="spring-myBatis.xml"/>
    <!--事物管理-->
        <!--事务管理实现类-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--事务传播和隔离-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="select*" propagation="REQUIRED" read-only="true"></tx:method>
            <tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT"></tx:method>
            <tx:method name="delete*" propagation="REQUIRED" ></tx:method>
            <tx:method name="insert*" propagation="REQUIRED" ></tx:method>
            <tx:method name="*" propagation="REQUIRED" ></tx:method>
        </tx:attributes>
    </tx:advice>
    <!--AOP切面增强-->
    <aop:config proxy-target-class="false">
        <!--切点-->
            <aop:pointcut id="transPointcut" expression="execution(* com.my.ssm.dao.*.*(..))"></aop:pointcut>
        <!--调用通知-->
            <aop:advisor advice-ref="txAdvice" pointcut-ref="transPointcut"></aop:advisor>
    </aop:config>
</beans>
